header {
  background-color: #ffffff; /* Color de fondo del encabezado */
}

header h1 {
  color: #343a40; /* Color del texto del título */
}

header p {
  color: #6c757d; /* Color del texto del párrafo */
}

form {
  margin-top: 30px;
}

.encabezado header {
  background-color: #64c27b;
}
.encabezado header div p {
  color: black;
  font-weight: 600;
}

.contenedor button {
  background-color: #a2d6aa;
  color: black;
  border-radius: 20px;
  border: none;
}
.contenedor-base {
  background-color: #d0fdd7;
  overflow: hidden;
  padding: 10px;
}
